@model IEnumerable<Address_Book.ViewModels.AddressBookEntryDto>
@{
    ViewData["Title"] = "Contacts List";
}
<h1>@ViewData["Title"]</h1>

<h2>Address Book Entries</h2>

<table class="table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>City</th>
        <th>Birth Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entry in Model)
    {
        <tr>
            <td>@entry.FirstName</td>
            <td>@entry.EmailAddress</td>
            <td>@entry.PhoneNumber</td>
            <td>@entry.City</td>
            <td>@entry.BirthDate.ToShortDateString()</td>
        </tr>
    }
    </tbody>
</table>
